<div class="container">
  <% if current_user.premium? %>
    <%= link_to "Downgrade to Standard", wikis_path, :onclick => downgrade(current_user), :data => {confirm: 'Are you sure you want to delete this post? If you do then your private wikis will become public.'}  %>
  <% end %>
</div>
